services:

  # MySQL
  db:
    container_name: ${APP_NAME}_db
    build:
      context: docker/services/mysql
    image: ${APP_NAME}/mysql
    restart: unless-stopped
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: toor
    command:
        - --character-set-server=utf8mb4
        - --collation-server=utf8mb4_unicode_ci
    volumes:
      - db-data:/var/lib/mysql
      - ./docker/common/.profile:/root/.profile:ro

  rabbitmq:
    image: rabbitmq:3-management
    container_name: ${APP_NAME}_rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: pass

  gateway:
    build:
      context: ./gateway
    container_name: ${APP_NAME}_gateway
    ports:
      - "3100:3100"
    environment:
      - GATEWAY_UPSTREAM_APP=http://app:3199
      - GATEWAY_UPSTREAM_AUTH=http://auth:3200
      - GATEWAY_UPSTREAM_PRODUCT=http://product:3300
      - GATEWAY_JWT_SECRET=changemechangemechangemechangeme
    depends_on:
      - db
      - rabbitmq
      - app
      - auth
      - product

  product:
    build:
      context: ./product
    container_name: ${APP_NAME}_product
    ports:
      - "3300:3300"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/product?useSSL=false&serverTimezone=UTC&createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=pass
    depends_on:
      - db

  client:
    build:
      context: ./client
    container_name: ${APP_NAME}_client
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - client-node-modules:/app/node_modules
    command: npm run dev -- --host 0.0.0.0 --port 3000
    environment:
      - API_TARGET=http://localhost:3100
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - db
      - rabbitmq
      - gateway

  app:
    build:
      context: ./app
    container_name: ${APP_NAME}_app
    ports:
      - "3199:3199"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/app?useSSL=false&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=pass
      - PRODUCT_SERVICE_URL=http://product:3300
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_USERNAME=user
      - SPRING_RABBITMQ_PASSWORD=pass
    depends_on:
      - db
      - rabbitmq
      - product

  auth:
    build:
      context: ./auth
    container_name: ${APP_NAME}_auth
    ports:
      - "3200:3200"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/auth?useSSL=false&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=pass
      - JWT_SECRET=changemechangemechangemechangeme
    depends_on:
      - db

volumes:
  db-data:
    name: ${APP_NAME}-db-data
    external: false
  client-node-modules:
