services:

  # MySQL
  db:
    container_name: ${APP_NAME}_db
    build:
      context: docker/services/mysql
    image: ${APP_NAME}/mysql
    restart: unless-stopped
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: toor
    command:
        - --character-set-server=utf8mb4
        - --collation-server=utf8mb4_unicode_ci
    volumes:
      - db-data:/var/lib/mysql
      - ./docker/common/.profile:/root/.profile:ro

  rabbitmq:
    image: rabbitmq:3-management
    container_name: ${APP_NAME}_rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: pass

  client:
    build:
      context: ./client
    container_name: ${APP_NAME}_client
    ports:
      - "80:80"
    volumes:
      - ./client:/app
      - client-node-modules:/app/node_modules
    command: npm run dev -- --host 0.0.0.0 --port 80
    environment:
      - API_TARGET=http://localhost:3000
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - db
      - rabbitmq

volumes:
  db-data:
    name: ${APP_NAME}-db-data
    external: false
  client-node-modules:
