server:
  port: 3400

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:mysql://localhost:3306/order?useSSL=false&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: user
    password: pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.MySQLDialect
  sql:
    init:
      mode: always
  jpa.defer-datasource-initialization: true
  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: pass

product:
  service:
    url: ${PRODUCT_SERVICE_URL:http://localhost:3300}

app:
  messaging:
    queues:
      new: ${ORDER_QUEUE_NAME:orders.new}

management:
  endpoints:
    web:
      exposure:
        include: health
